<!DOCTYPE html>
<html>
    <head>
        <title>COPY PASTER</title>
        <script type="text/javascript" src="/eel.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/css/window.css">
        <link rel="shortcut icon" href="../static/img/Icons/favicon.png" type="image/png">
    </head>
    <body class="style-body">
        <div class="panel">
            <button class="telegram-button"><img class="telegram" src="../static/img/Icons/WhiteTeleg.png"></button>
            <button class="archive-button"><img class="archive" src="../static/img/Icons/WhiteArhive.png"></button>
            <button class="reload-button"><img class="reload" src="../static/img/Icons/WhiteArrow.png"></button>
            <button class="question-button"><img class="question" src="../static/img/Icons/WhiteQustion.png"></button>
            <div id="myModal">
                <p>Copy Paster is program which can give you access to your clipboard.
                    You can connect your clipboard on your computer to the telegram bot.
                    Also you can look at your history of clipboard.
                    And if you want brilliant look of the program you can clear all cells.</p>
                <span id="myModal__close" class="close">ₓ</span>
            </div>
            <div id="myOverlay"></div>
        </div>

        <div id="mess_form">
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/functional.js"></script>
    <script type="text/javascript" src="../static/js/pasters.js"></script>
    <script type="text/javascript" src="../static/js/panel.js"></script>
    <script type="text/javascript" src="../static/js/info.js"></script>
</html>
